    <script type="text/javascript">
    $(document).ready(function () {
        // Press button to pop up drop-down box
        $('.ui.dropdown').dropdown();

        // Hover over the avatar and pop up a balloon
        $('.post-content .avatar-link').popup({
          inline: true,
          position: 'bottom right',
          lastResort: 'bottom right'
        });
      })
    </script>
  </body>
</html>
